body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    }
h1{
    font-size: 42px;
    text-align: center ;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img {
    display: block;
    margin: auto;    
    width: 250px;
    border-width: 10px;
    border-style: dashed;
    border-color: #fff;
  }
 
  .introduction {
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;

  }
  .red {
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 2px;
    border-left: solid 5px;
  }
 
  .blue {
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: solid 5px;
    border-top: solid 2px;
    

  }
.blue h2{
    color: #c4c4c4;
}
.blue p{
    color: #c4c4c4;
}
.yellow{
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 2px;
    border-left: solid 5px;
  }

.yellow p{
    color: #707070;
}

}
.green {
    min-height: 125px;
    padding: 20px;
    border-color: #ffffff;
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: solid 5px;
    border-top: solid 2px;
}
footer {
    background-image: linear-gradient(to right, #000, #00f 25%, #06f 70%, #000);
    border-color: #fff;
    border-style: solid;
    border-width: 5px;
    
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 0px;
}
